<a href="#" class="list-group-item clearfix" (click)="onselected()" >
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ lesson.name }}</h4>
        <p class="list-group-item-text"> {{lesson.description}}</p>
    </div>
    <span class="pull-right">
        <!-- Notice how src attribute can be optionally used as angular property binding -->
        <!-- <img src="" alt="" class="img-responsive" style="max-height: 50px;"> -->
        <img [src]="getImagePath(lesson)" alt=" {{ lesson.description }}" class="img-responsive" style="max-height: 50px;">
        <!-- <img src="../assets/LearnwithLittleBabyBumThingsThatGoFastNurseryRhymesforBabiesSongsforKids" alt=" {{ lesson.description }}" class="img-responsive" style="max-height: 50px;"> -->
        <!-- <video width="120" height="40"  >
            <source  [src]="getUrl( lesson )" type="video/mp4">
            Your browser does not support the video tag.
           </video>  -->
    </span>
</a>
