
<div *ngIf="displayVidoeComponent">

<div class="row">
    <!-- Left side navigation, for lessons list -->
    <div class="col-md-5">
        <app-lesson-list (lessonFromList)="selectedLesson = $event" (lessonTimeout)="onLessonTimeout()" [session]="session" ></app-lesson-list>
    </div>
    <!-- Right side for lesson detail -->
    <div class="col-md-7"> 
        <app-lesson-detail *ngIf="selectedLesson; else infoText" [lesson]= selectedLesson></app-lesson-detail>
        <ng-template #infoText>
            <p>Please select a Lesson</p>
        </ng-template>

    </div>
</div>
    
</div>
<!-- 
<div *ngIf="!displayVidoeComponent">
    <div class="row">
        <div class="col-md-12">
            <app-counting (success)="onSuccess()" [rewardScore]="rewardScore"></app-counting>
        </div>
    </div>
</div> -->

<div *ngIf="!displayVidoeComponent">
    <!-- the onSuccess() method on app-drag-drop's parent compaonent which in this case is lessons component is called  is emmitted by app-drag-drop -->
    <!-- <app-drag-drop (isAllAnswered)="onSuccess()"></app-drag-drop> -->
    <app-drag-drop (isAllAnswered)="onLessonTimeout()"></app-drag-drop>



</div>